main {
    background-color: black;
    min-height: calc(100vh - 590px);
    padding-top: 2rem;

    h1 {
        color: #fff;
    }

    .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}